{% extends 'cp/main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Profile

{% endblock %}

{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>

                {{ u_form|crispy }}
                <div class="input group">
                    {{ p_form.role | as_crispy_field }}
                </div>
                <div class="input group">
                    {{ p_form.image | as_crispy_field }}
                </div>
                Profile Photo: <strong class="float-right">
                <img src="{{ request.user.userprofile.image.url }}" class="rounded-circle" alt="" style="width: 100px"></strong>
            </fieldset>
            <br>

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>

            </div>
        </form>
    </main>
{% endblock %}
