{% extends 'cp/main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Forum Discussions
{% endblock %}



{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">
                {{ topic.title}}
            </h1>
        </div>

        <div class="container-fluid" style="margin-bottom: 10px; align-items: center; justify-content: center; display: flex">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Create Forum Discussion
            </button>
            <br>
        </div>

        <!-- Modal for post-->



        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create Discussion</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="modal-body">
                            {{ form.title | as_crispy_field }}

                            {{ form.post_content | as_crispy_field }}

                            {{ form.image | as_crispy_field }}

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        {#    POSTSSSS#}
        {##}
        <div class="container-fluid">


            {% for post in posts %}
                <a href="/discussion/{{ post.id }}" style="text-decoration: none; color: #3b3b3b">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex">
                                <img src="{{ post.user.userprofile.image.url }}" class="me-3 rounded-circle"
                                     style="width: 50px; height: 50px">
                                <div>
                                    <h5 class="fw-bold">{{ post.title }}
                                    </h5>
                                    <small class="text-muted">Posted by {{ post.user.get_full_name | title }} on {{ post.timestamp }}</small>

                                </div>

                            </div>

                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ post.post_content }}</p>
                        </div>
                        {% if post.user == user %}
                        <div class="card-footer">
                            <a href="{% url 'update_forum' post.id %}">edit</a>
                        </div>
                        {% endif %}

                    </div>
                </a>

                <br>
            {% endfor %}
        </div>
    </main>
{% endblock %}