{% extends 'cp/main/base.html' %}
{% load static %}
{% block title %}
      Add Course
{% endblock %}

{% block content %}


<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">
          Course Management
        </h1>
        </div>
          <form method="POST">
              {% csrf_token %}
              <div class="container-fluid">
                  <div class="card">
                    <div class="card-header">
                      <div class="form-group">
                        <label>Course Name </label>
                        <input type="text" class="form-control" name="course_name" placeholder="Enter Course">
                      </div>
                    </div>
                    <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Add Course</button>
                  </div>
            </div>
        </div>
      </form>
      <div>
        {% for course in courses %}
        <h1>{{course.course_name}}</h1>
        {% endfor %}
      </div>
</main>

{% endblock %}
